.text-center {
  text-align: center;
}
.big-radios {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.radio-labels {
  width: 20%;
  text-align: left;
  font-size: $fourthFontSize;
  color: #fff;
}
.radio-labels-big {
  width: 20%;
  text-indent: left;
  font-size: $thirdFontSize;
  color: #fff;
}
